{% extends "base.html" %} {% block content %}
<div class="center-content">
  <h1>Adicionar Código de Barras</h1>
  <form method="POST" class="search-form">
    <div class="search-bar">
      <input
        type="text"
        name="barcode"
        placeholder="Digite o código de barras"
        required
      />
      <button type="submit" class="search-button">
        <img
          src="{{ url_for('static', filename='search-icon.png') }}"
          alt="Pesquisar"
        />
      </button>
    </div>
  </form>

  <h2>Últimos Códigos de Barras Cadastrados</h2>
  <table>
    <tr>
      <th>Código de Barras</th>
    </tr>
    {% for barcode in barcodes %}
    <tr>
      <td>{{ barcode.barcode }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
